fastapi>=0.68.0
uvicorn>=0.15.0
pandas>=2.0.0
numpy>=1.26.5
scikit-learn>=1.0
shap>=0.40.0
python-multipart>=0.0.6
networkx==2.8.8
pydot==1.4.2
dowhy>=0.8
fairlearn>=0.10.0
lightgbm>=4.0.0
xgboost>=2.0.0
router
google-generativeai
